.decoration-modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.decoration-modal-content {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #888;
    width: 85%;
    max-width: 700px;
    max-height: 600px;
    position: relative;
    text-align: center;
    border-radius: 10px;
    background-color: #ffd700;
}

.decoration-modal-overlay {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.decoration-close-button {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.decoration-close-button:hover,
.decoration-close-button:focus {
    color: black;
    text-decoration: none;
}

.ornament-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0;
}

.ornament-item {
    width: 100px;
    height: 140px;
    text-align: center;
    cursor: pointer;
    padding: 5px;
    margin: 0px 10px;
    border-radius: 5px;
    transition: transform 0.2s;
    position: relative;
}

.ornament-background {
    width: 90px;
    height: 90px;
    background-color: #FFF8D1;
    border-radius: 5px;
    border: 2px solid transparent;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s;
    margin: 0 auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.ornament-item.selected .ornament-background {
    border-color: #ffa500;
    border-width: 3px;
}

.ornament-item.selected {
    transform: scale(1.1);
}

/* .ornament-image {
    display: none;
} */

.ornament-text {
    width: 80px;
    text-align: center;
    margin-top: 5px;
    color: black;
    background: #FFD700;
    font-size: 15px;
    word-wrap: break-word;
}

.locked-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(209, 208, 199, 0.5);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.locked-icon {
    width: 50%;
    height: auto;
}

.decoration-next-button,
.purchase-button {
    background-color: #ffa500;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
}

.decoration-next-button.disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.purchase-button:hover {
    background-color: #ff8c00;
}

.decoration-next-button:hover:not(.disabled) {
    background-color: #ff8c00;
}

.purchase-modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.purchase-modal-name {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.purchase-modal-price {
    margin-top: 5px;
    font-size: 18px;
    color: black;
}

.purchase-modal-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.current-coins {
    font-size: 16px;
    color: black;
    margin-bottom: 10px;
}
