@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

.Main {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.Main-title {
    font-size: 100px;
    font-family: "Space Mono", monospace;
    color: #0797FF;
    margin-bottom: 400px;
    position: fixed;
    white-space: nowrap;
}

.Main > img{
    position: absolute;
    right: 40px;
    top: 30px
}

.letter-cnt{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    color: white;
    font-size: 14px;
    font-weight: 800;
    z-index: 999;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 30px;
    right: 45px
}