@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

.Main {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.Main-title {
    font-size: 70px;
    font-family: 'Pixelify Sans', sans-serif;
    color: black; /* 필요에 따라 색상을 변경하세요 */
    margin-bottom: 250px;
    position: fixed;
}
