body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* 스크롤을 숨김 */
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* 배경색 설정 */
    background-size: cover; /* 배경 이미지를 화면에 맞춤 */
    background-position: center; /* 배경 이미지를 가운데 정렬 */
    position: relative; /* levainImage와 버튼 이미지를 배치하기 위해 필요 */
}

.levain-image {
    max-width: 45%; /* levainImage의 최대 너비 설정 */
    max-height: 45%; /* levainImage의 최대 높이 설정 */
    height: auto;
    display: block;
    margin: auto;
    position: absolute; /* levainImage를 절대 위치로 설정 */
    top: 50%; /* 부모 요소 중앙 정렬을 위해 세로 중앙 정렬 */
    left: 50%; /* 부모 요소 중앙 정렬을 위해 가로 중앙 정렬 */
    transform: translate(-50%, -50%); /* 중앙 정렬을 위한 변형 */
    transition: opacity 0.5s ease-in-out; /* opacity 속성에 대한 transition 설정 */
    opacity: 1; /* 초기에는 보이도록 설정 */
}

.create-letter {
    position: absolute;
    width: 150px; /* 버튼의 가로 길이 설정 */
    top: 76%; /* 중앙에서 살짝 아래로 설정 */
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFD700; /* 버튼 색상 설정 */
    color: black;
    border: none;
    border-radius: 20px;
    padding: 3px 15px; /* 버튼의 세로 길이 설정 */
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-decoration: none; /* 밑줄 제거 */
    display: inline-block;
    background: linear-gradient(0deg, rgba(255, 151, 0, 1) 0%, rgba(251, 75, 2, 1) 100%);
    line-height: 42px;
}

.create-letter {
    background: #FFE974;
    border: none;
    z-index: 1;
}

.create-letter:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #FFD700;
    border-radius: 20px;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    transition: all 0.3s ease;
}

.create-letter:hover:after {
    left: 0;
    width: 100%;
}