body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    background-size: cover; 
    background-position: center; 
    position: relative;
}

.levain-image {
    max-width: 45%;
    max-height: 45%;
    height: auto;
    display: block;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s ease-in-out; 
    opacity: 1; 
}

.create-letter {
    position: absolute;
    width: 150px; /* 버튼의 가로 길이 설정 */
    top: 76%; /* 중앙에서 살짝 아래로 설정 */
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFD700; /* 버튼 색상 설정 */
    color: black;
    border: none;
    border-radius: 20px;
    padding: 3px 15px; /* 버튼의 세로 길이 설정 */
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-decoration: none; /* 밑줄 제거 */
    display: inline-block;
    background: linear-gradient(0deg, rgba(255, 151, 0, 1) 0%, rgba(251, 75, 2, 1) 100%);
    line-height: 42px;
}

.create-letter {
    background: #FFE974;
    border: none;
    z-index: 1;
}

.create-letter:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #FFD700;
    border-radius: 20px;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    transition: all 0.3s ease;
}

.create-letter:hover:after {
    left: 0;
    width: 100%;
}

.search-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.selected-ornament {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.selected-ornament .ornament-image {
    width: 100px;
    height: 100px;
}

.selected-ornament .from-name {
    font-size: 18px;
    color: black;
    margin-top: 10px;
}
